<div class="container">
  <div class="header">
    <div class="actions">
      <button mat-raised-button color="primary" class="create-article-btn" routerLink="/articles/create">
        <mat-icon>add</mat-icon> Créer un article
      </button>
      
      <div class="sort-container">
        <span>Trier par date:</span>
        <button mat-icon-button (click)="toggleSort()">
          <mat-icon>{{ sortAscending ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="articles-grid">
    <mat-card class="article-card" *ngFor="let article of articles" (click)="navigateToArticle(article.id)">
      <mat-card-header>
        <mat-card-title>{{ article.title }}</mat-card-title>
        <mat-card-subtitle>
          <span class="date">{{ article.dateCreation | date:'dd/MM/yyyy' }}</span>
          <span class="author">{{ article.author?.username }}</span>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ article.content }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div> 